name: Build
on: push
permissions:
  checks: write
  contents: write
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn lerna run build
